@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

*{
    font-family: 'Montserrat', sans-serif !important;
    box-sizing: border-box ;
    margin: 0 ;
    padding: 0 ;
    
}

$darkblue-input-color : #282E3E;
$dark-input-color: #1616169d;
$light-input-color:#F1F3F4;

// body{
//   ::-webkit-scrollbar{
//     display: none;
//   }
// }


// body{
//   overflow-y: overlay !important;
  
// }

// body ::-webkit-scrollbar{
//          display:none;
// }
.dark-background{
  background-color: #202225 !important;
}

.darkblue-background{
  background-color: #1D2333 !important;
}

.light-background{
  background-color: #fff !important;
}

.dark-border{
  border: 1px solid #656565;
}

.darkblue-border{
  border: 1px solid #60657b;
}

.light-border{
  border: 1px solid #c5c5c5;
}

.dark-border-hr{
  border-top: 0.1px solid #656565;
  height: 0.1px;
  border-bottom: none;
}

.darkblue-border-hr{
  border-top: 0.1px solid #60657b;
  height: 0.1px;
  border-bottom: none;
}

.light-border-hr{
  border-top: 0.1px solid #c5c5c5;
  height: 0.1px;
  border-bottom: none;
}

.dark-text-primary{
  color: white;
}

.darkblue-text-primary{
  color: white;
}

.light-text-primary{
  color: #515365;
}

.dark-text-secondary{
  color: #d8d8d8;
}

.darkblue-text-secondary{
  color: #888DAB;
}

.light-text-secondary{
  color: #888DAB;
}

.dark-section-bg{
    background-color: #202225;
    box-shadow: 1px 2px 15px 5px  #121211;
    position: relative;
}

.darkblue-section-bg{
  background-color: #1D2333;
  box-shadow: 1px 2px 15px 5px  #060818;
  position: relative;
}

.light-section-bg{
    background-color: #fff;
    box-shadow: 1px 2px 10px 1px #d1d6ee;
    position: relative;
}

.darkblue-text-bg{
  color: rgba(255, 255, 255, 0.856);
}

.dark-text-bg{
   color: rgba(255, 255, 255, 0.856);
}

.light-section-bg{
    color: #2e3036;
}

* > a{
    text-decoration: none;
}

.main-container-card{
    width: 600px;
    border-radius: 5px;
    margin-left: 18px;
}



  .swiper-button-next {
    
    background-image: url(../../arrow.svg);
    background-color:#FA6342 !important;
    padding: 10px !important;
    border-radius: 50px;
    width: 40px !important;
    height: 40px !important;
    right: 0px !important;
    top: 50% !important;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    z-index: 10 !important;
    border: 1px solid rgb(238, 237, 237);
    box-shadow: 0px 2px 5px -3px rgb(87, 85, 85);
  }
  .swiper-button-prev {
    background-image: url(../../arrow.svg);
    background-color:#FA6342 !important;
    padding: 10px !important;
    border-radius: 50px;
    width: 40px !important;
    height: 40px !important;
    left: 0px !important;
    top: 75px !important;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    transform: rotate(180deg);
    z-index: 10 !important;
    border: 1px solid rgb(238, 237, 237);
    box-shadow: 0px 2px 5px -3px rgb(87, 85, 85);

    
  }
  
  .swiper-button-next::after {
    display: none;
  }
  .swiper-button-prev::after {
    display: none;
  }
  .swiper-button-disabled{
      display: none !important;
  }
  

.card-head-title::before{
  background: #FA6342;
    content: "";
    height: 28px;
    left: 0px;
    position: absolute;
    top:10px;
    width: 5px;
}
.card-head-title{
    padding-left: 10px;
}


.extra-comments-wrapper{
      
  margin-bottom: 8px;
}

.extra-comments{
  color: #8d8c8c;
  cursor: pointer;
 
}
.user-comments{
  display: flex;
  flex-direction: row;
  margin-bottom: 14px;
}


.user-comments-inline{
  padding: 10px;
  border-radius:10px;
  position: relative;
  margin-right: 5px;
}



.light-user-comments-inline:before
{
  content: " ";
  position: absolute;
  left: -8px;
  top: 10px;
  border-top: 8px solid transparent;
  border-right: 8px solid #F1F3F4;
  border-left: none;
  border-bottom:8px solid transparent;
}

.dark-user-comments-inline:before
{
  content: " ";
  position: absolute;
  left: -8px;
  top: 10px;
  border-top: 8px solid transparent;
  border-right: 8px solid #1a1b1c;
  border-left: none;
  border-bottom:8px solid transparent;
}
.dark-user-comments-inline{
  background-color: #1616169d;
  color: #fff;
}



.darkblue-user-comments-inline{
  background-color: $darkblue-input-color;
  color: #fff !important;
}

.darkblue-user-comments-inline:before
{
  content: " ";
  position: absolute;
  left: -8px;
  top: 10px;
  border-top: 8px solid transparent;
  border-right: 8px solid $darkblue-input-color;
  border-left: none;
  border-bottom:8px solid transparent;
}

.light-user-comments-inline{
  background-color: #F1F3F4;
  
}

.current-user-comment{
  margin: 20px 0px;
  display: flex;
  flex-direction: row;

  .comment-input{
      width: 80%;
      border: 0;
      outline: none;
      border-radius: 20px;
      height: 35px;
      padding: 0px 20px;
  }
  .dark-comment-input{
      background-color: $dark-input-color;
      color: #fff;
  }
  .darkblue-comment-input{
    background-color: $darkblue-input-color;
    color: #fff;
}
  .light-comment-input{
      background-color: $light-input-color;
  
  }
}


