.livestreams-card{
    width: 400px;
    height: 250px;
    margin-top: 20px;
    padding: 15px 10px;

    .livestream-heading{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    
}

.stream-card{
    width: 190px;
    height: 180px;
    background-color: rgba(238, 237, 237, 0.897);

    .streaming-img{
        margin: 5px;
        height: 120px;
        object-fit: cover;
    }
    .streamer-view{
        display: flex;
        align-items: center;
        margin-top: 5px;
        padding-left: 5px;

        .streamer-name{
            font-size: 10px;
            margin-bottom: 2px;
        }
        .streamer-context{
            font-size: 8px;
        }
    }
}

.dark-stream-card{
    background-color: #2d3136;

}