.settings-banner {
  text-align: center;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100vw;
}

.settings-banner #vid-bg {
  width: 100%;
}

.settings-banner img {
  width: 60%;
  max-width: 1268px;
  margin-bottom: 1%;
}

.settings-banner .welcome-message {
  position: relative;
  bottom: 50%;
  width: 50%;
  min-width: 800px;
  color: rgba(255, 255, 255, 0.9);
}

.settings-banner .welcome-message h1 {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 40px;
}

.settings-banner .welcome-message p {
  font-size: 14px;
  margin-top: 2%;
}

.settings-content {
  overflow-x: hidden;
  width: 80%;
  margin: 0 auto 1% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /* Firefox */
}

.settings-content .side-navbar-wrapper {
  border-radius: 5px;
  width: 25%;
}

.settings-content .side-navbar-wrapper .side-navbar-inner {
  width: 100%;
  margin: 0 auto;
}

.settings-content .side-navbar-wrapper .side-navbar-inner .brdrbtm {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.settings-content .side-navbar-wrapper .side-navbar-inner .tit {
  padding: 9px 0 9px 20px;
  font-size: 13px;
  color: #888da8;
  text-transform: capitalize;
  font-weight: 600;
}

.settings-content .side-navbar-wrapper .side-navbar-inner .nvlst {
  padding: 15px 0 15px 20px;
  font-weight: 600;
  font-size: 16px;
}

.settings-content .side-navbar-wrapper .side-navbar-inner .nvlst .inner-link {
  width: 100%;
  height: 100%;
}

.settings-content input::-webkit-outer-spin-button,
.settings-content input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.settings-content input[type="number"] {
  -moz-appearance: textfield;
}

.settings-content .side-settings-tab-wrapper {
  border-radius: 5px;
  width: 70%;
}

.settings-content .accntset-sec-wrapper .sectit {
  padding: 25px;
  font-weight: 600;
  font-size: 19px;
}

.settings-content .accntset-sec-wrapper .brdrbtm {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.settings-content .accntset-sec-wrapper .seccntnt {
  padding: 25px;
}

.settings-content .fieldPassForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.settings-content .fieldPassForm button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.settings-content .flexbpf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.settings-content .flexbpf .im {
  width: 48%;
}

.settings-content .flexbaf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.settings-content .flexbaf .im {
  width: 80%;
  margin-bottom: 2%;
}

.settings-content .flexbaf .im .h {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0.5%;
}

.settings-content .flexbaf .im .p {
  opacity: 0.8;
}

@-webkit-keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -4000px 0;
  }
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -4000px 0;
  }
}
/*# sourceMappingURL=accountsettings.css.map */