
$timeliner-inner-text-size :13px;
$timestamp-size :13px;
$timestamp-color:rgb(67, 186, 255);
.timeline-card{
    min-height: 550px;
    margin: 15px 0px;
    padding: 10px;

    .Mui-root.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded{
        border-radius: 30px !important;
        background-color: red !important;
    }
    .dark-more-options{
        color: #fff;
    }

    .likes-comments-sections{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px 15px 8px;
        border-bottom: 1px solid rgb(243, 243, 243);

        .dot{
            background-color: #fff;
            width: 2px;
            height: 2px;
            border-radius: 50px;
            margin-right: 6px;
        }
        .reaction-icons{
            width: 20px;
            height: 20px;
            margin-right: 6px;
        }
        .likes-inline{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 4px;
            .likes-count{
                margin-left: 5px;
            }
            
        }

        .comments-count,.likes-count{
            font-size: 14px;
            font-weight: 500;
            color: #000000;
        }
    }
    .dark-likes-comments-sections {
        border-bottom: 1px solid rgb(65, 65, 65);
        color: #fff;
        .likes-count{
            color: #fff;
        }
        .comments-count{
            color: #fff;
        }
    }
}

.card-header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 10px 0px;

    .card-header-content-left{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .more-options{
        padding: 10 !important;
        margin: 0 !important;
    }
    
    .timeline-inner-text{
        font-size: $timeliner-inner-text-size;
        color: rgb(131, 133, 131);
        font-weight: 500;
    }
    
    .time-stamp{
        color:$timestamp-color;
        font-size: $timestamp-size;
    }
}

.card-container{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    width: fit-content;
    & > img{
        width: 100%;
        height: 400px;
        object-fit: cover;
       
    }
}

.card-footer-content{
    display: flex;
    flex-direction: row;
    height: 50px;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
     
    .timeline-btn{
        font-size: 13px;
        text-transform: capitalize;
        margin: 0px 2px;
        padding: 0px;
    }

    .light-timeline-btn{
        background-color: transparent;
        width: 50%;
        border: 0;
        box-shadow: none;
        
    }
    .light-timeline-btn:hover{
        color: rgb(0, 132, 255);
        background-color: #dadada9f;
        box-shadow: 5px 2px 10px 2px #f5f5f5;
    }
    .dark-timeline-btn{
        background-color: transparent;
        width: 50%;
        border: 0;
        box-shadow: none;
        color: #fff;
    }
    .dark-timeline-btn:hover{
        color: rgba(238, 59, 59, 0.664);
        background-color: #2c2c2c9f;
        box-shadow: none;
    }
}

.dark-card-footer-content{
    border-top: 1px solid #161616;
    border-bottom: 1px solid #161616;
}
.post-description{
    padding:15px;

    .hastags h3{
        margin: 0px !important;
    }
}

.light-description{
    color: black;
    & h3{
        font-size: 14px;
        margin-bottom: 10px;
    }
    & h3 span{
        font-size: 13px;
        font-weight: 500;
    }
}   
.dark-description{
    color: #fff;
    & h3{
        font-size: 14px;
        margin-bottom: 10px;
    }
    & h3 span{
        font-size: 13px;
        font-weight: 500;
    }
}

.post-comment-section{
    padding: 0px 15px;

    .extra-comments-wrapper{
      
        margin-bottom: 8px;
    }
    .extra-comments{
        color: #8d8c8c;
        cursor: pointer;
       
    }
    .user-comments{
        display: flex;
        flex-direction: row;
        margin-bottom: 14px;
    }
    .user-comments-inline{
        padding: 10px;
        border-radius:10px;
        position: relative;
        margin-right: 5px;
    }

    .light-user-comments-inline:before
    {
        content: " ";
        position: absolute;
        left: -8px;
        top: 10px;
        border-top: 8px solid transparent;
        border-right: 8px solid #F1F3F4;
        border-left: none;
        border-bottom:8px solid transparent;
    }
    
    .dark-user-comments-inline:before
    {
        content: " ";
        position: absolute;
        left: -8px;
        top: 10px;
        border-top: 8px solid transparent;
        border-right: 8px solid #1a1b1c;
        border-left: none;
        border-bottom:8px solid transparent;
    }
    .dark-user-comments-inline{
        background-color: #1616169d;
        color: #fff;
    }
    .light-user-comments-inline{
        background-color: #F1F3F4;
        
    }

    .current-user-comment{
        margin: 20px 0px;
        display: flex;
        flex-direction: row;

        .comment-input{
            width: 80%;
            border: 0;
            outline: none;
            border-radius: 20px;
            height: 35px;
            padding: 0px 20px;
        }
        .dark-comment-input{
            width: 80%;
            border: 0;
            outline: none;
            background-color: #1616169d;
            border-radius: 20px;
            height: 35px;
            padding: 0px 20px;
            color: #fff;
        }
        .light-comment-input{
            width: 80%;
            border: 0;
            outline: none;
            background-color: #F1F3F4;
            border-radius: 20px;
            height: 35px;
            padding: 0px 20px;
        }
    }
}


.reaction-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 220px;
    height: 50px;
    padding: 10px;
   

    .reactions-img{
        width: 40px;
        height: 40px;
        margin-right: 8px;
    }

    .reactions-img:hover{
        
        transform: scale(1.2);
    }
   
}


