.login {
	&-wrapper {
		height: 100vh;
		background-image: url("../../assets/backgrounds/landing.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		color: white;
		display: flex;
	}

	&-inner-wrapper {
		margin: 3% 10% 0 15%;
		width: 100% - 25%;
		.brand-logo {
			max-width: 250px;
		}
		.logo-wrapper {
			height: 20%;
		}
	}

	&-main {
		height: 70%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.welcome-message {
			width: 50%;
			h1 {
				margin-bottom: 5%;
				font-weight: 600;
			}
			p {
				padding: 0;
				margin: 0;
				font-size: 16px;
			}
		}
	}

	&-card {
		width: 35%;
		height: 82%;
		align-self: start;
		background-color: #202225;
		display: flex;

		.tabs {
			display: flex;
			flex-direction: column;
			border: 1px solid #2d3136;
			.tab {
				height: 50%;
				width: 60px;
				button {
					height: 100%;
					width: 100%;
					font-size: 25px;
					color: #888da8;
					background-color: #2d3136;
					border: none;
					&:focus {
						outline: none;
					}
					&:hover {
						cursor: pointer;
					}
				}
				.active {
					button {
						background-color: #232529;
						color: #fff;
						transition: 0.2s;
					}
				}
			}
		}
	}

	&-form {
		&-wrapper {
			width: 100%;
			overflow: auto;
			.form-header {
				border-bottom: 1px solid #2d3136;
				width: 100%;
				p {
					padding: 17px;
					font-size: 15px;
					font-weight: 600;
					color: #fff;
				}
			}
		}
		&-inner {
			width: 92%;
			margin: 0 4%;
			text-align: center;
			form {
				.bottom-opt {
					display: flex;
					align-items: center;
					justify-content: space-between;
				}
				.reg-name {
					display: flex;
					justify-content: space-between;
					.reg-form-name-flex-item {
						width: 45%;
					}
				}
			}
			.or {
				font-size: 11px;
				color: #8b8b8b;
				text-transform: uppercase;
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				.line {
					background-color: #e6ecf5;
					width: 43%;
					height: 2px;
				}
			}
			.register-link {
				font-size: 13px;
				color: #8b8b8b;
				margin-top: 3%;
				a {
					text-decoration: none;
					color: #ff713a;
				}
			}
		}
	}
}

.MuiFormLabel-root {
	color: #fff !important;
	font-family: "Montserrat", sans-serif !important;
}

.MuiIconButton-root {
	color: #fff !important;
}

.MuiInputBase-root {
	color: #fff !important;
	font-family: "Montserrat", sans-serif !important;
}

.MuiOutlinedInput-notchedOutline {
	border-color: #fff !important;
}

.MuiSelect-icon {
	color: #fff !important;
}
