* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.login__bgImage {
  background-image: url(https://c4.wallpaperflare.com/wallpaper/201/410/351/5bf50ef157753-wallpaper-preview.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .header {
    background-color: transparent;

    .header__logo {
      width: 23%;
      padding-top: 40px;
      position: relative;
      left: -25px;
    }
  }
  .login__body {
    position: relative;
    top: 340px;
    left: -85px;
    color: #fff;
    height: 300px;
    // font-size: $font-size;
    .body__left {
      height: 300px;
    }
    .heading {
      .welcome {
        font-weight: 700;
        letter-spacing: 1px;
      }
      h6 {
        margin-top: 40px;
      }
    }
    Button {
      background-color: transparent;
      border: 2px solid white;
      font-size: 20px;
      padding: 5px 30px;
      font-weight: bold;

      margin-top: 30px;
    }
    .body__right {
      position: relative;
      bottom: 180px;
      left: 150px;
      Button {
        width: 100%;
      }
      p {
        margin-top: 5px;
        text-align: center;
      }
    }
  }
}
