.home-grid {
	display: grid;
	height: 100vh;
	grid-template-columns: 0.3fr 6fr 0.3fr;
	padding-top: 50px;
}

.right-drawer {
	height: 100%;
	grid-row: 1;
	grid-column: 3;
	background-color: #292b2f;
}

.center-container {
	height: 100%;
	grid-row: 1;
	grid-column: 2;
	background-color: #18191c;
	display: flex;
	flex-direction: row;
}
.container-content {
	flex: 1 60%;
	margin: 0px 130px;
	width: 40%;
}

.container-right {
	flex: 1 40%;
	padding: 0px 20px;
}
