.home-grid {
	display: grid;
	height: 100vh;

	grid-template-columns: 0.3fr 6fr;

	padding-top: 50px;
}

.right-drawer {
	height: 100%;
	grid-row: 1;
	grid-column: 3;
	background-color: #292b2f;
}

.center-container {
	height: 100%;
	grid-row: 1;
	grid-column: 2;
	background-color: #18191c;
	display: flex;
	flex-direction: row;
}

.profile-container {
	height: 100%;
	background-color: #18191c;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.profile-content {
	width: 95%;
	max-width: 1268px;
}

.container-content {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding-right: 15px;
}

.container-right {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
